<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisement Detail</title>
</head>
<body>
    <h2>Деталі оголошення</h2>
    <p><strong>Заголовок:</strong> {{ advertisement.title }}</p>
    <p><strong>Опис:</strong> {{ advertisement.description }}</p>
    <p><strong>Населений пункт:</strong> {{ advertisement.city }}</p>
    <p><strong>Вік:</strong> {{ advertisement.age }}</p>
    <p><strong>Ім'я користувача: </strong>{{ advertisement.user.first_name }} {{ advertisement.user.last_name }}</p>
    <p><strong>Номер телефону:</strong> {{ advertisement.phone_number }}</p>
</body>
</html>