<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisement Detail</title>
</head>
<body>
    <h2>Деталі оголошення</h2>
    <p><strong>Заголовок:</strong> {{ advertisement.title }}</p>
    <p><strong>Опис:</strong> {{ advertisement.description }}</p>
    <p><strong>Номер телефону:</strong> {{ advertisement.phone_number }}</p>
    <p><strong>Населений пункт:</strong> {{ advertisement.city }}</p>
    <p><strong>Вік:</strong> {{ advertisement.age }}</p>
    <a href="{% url 'edit_advertisement' advertisement.id %}">Змінити оголошення</a> <br><br>
    <form action="{% url 'delete_advertisement' advertisement.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Видалити оголошення</button>
    </form>
</body>
</html>