<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisement List</title>
</head>
<body>
    <h1>Всі оголошення</h1>
    {% if advertisements %}
        <ul>
            {% for advertisement in advertisements %}
                <li>
                    <strong>Користувач:</strong> {{ advertisement.user.username }}<br>
                    <strong>Заголовок:</strong> {{ advertisement.title }}<br>
                    <strong>Номер телефону:</strong> {{ advertisement.phone_number }}<br>
                    <strong>Ім'я користувача:</strong> {{ advertisement.user.first_name }} {{ advertisement.user.last_name }}<br>
                    <strong>Населений пункт:</strong> {{ advertisement.city }}<br>
                    <strong>Вік:</strong> {{ advertisement.age }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No advertisements available.</p>
    {% endif %}
</body>
</html>
