<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to website!</h1>
     <div style="text-align: right;">
        <a href="{% url 'login' %}">Увійти</a> |
        <a href="{% url 'register' %}">Зареєструватись</a>
    </div>
    <p>"NUMO" - це інноваційний веб-додаток, який дозволяє користувачам створювати та переглядати оголошення про роботу,
        пошук працівників та благодійні проекти. Долучайтеся до нашої спільноти сьогодні!</p>
</body>
</html>