<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Advertisements</title>
</head>
<body>
    <h2>Моє оголошення</h2>
    {% if advertisements %}
        <ul>
            {% for ad in advertisements %}
                <li>
                    <a href="{% url 'advertisement_detail' ad.id %}">{{ ad.title }}</a>
                    <a href="{% url 'edit_advertisement' ad.id %}">Edit</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Вашого оглошення не знайдено.</p>
        <a href="{% url 'add_advertisement' %}">Створиит оголошення</a> <br>
        <a href="{% url 'advertisement_list' %}">Переглянути всі оголошення</a>
    {% endif %}
</body>
</html>
