<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h2>Профіль користувача</h2>
    <p>Ім'я: {{ user.first_name }}</p>
    <p>Прізвище: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <form action="{% url 'edit_profile'%}" method="get">
        <button type="submit" class="btn">Редагувати профіль</button>
    </form>
</body>
</html>
