<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h2>Профіль користувача</h2>
    <div class="profile-info">
        <p><strong>Нік користувача:</strong>{{ user.username }}</p>
        <p><strong>Ім'я:</strong> {{ user.first_name }}</p>
        <p><strong>Прізвище:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
    <form action="{% url 'edit_profile' %}" method="get">
        <button type="submit" class="btn">Редагувати профіль</button>
    </form>

    <h3>Оголошення про пошук роботи</h3>
    <ul>
        {% for advertisement in advertisements %}
            <li><a href="{% url 'advertisement_detail' advertisement.id %}">{{ advertisement.title }}</a></li>
        {% endfor %}
    </ul>

    <h3>Оголошення про пошук працівників</h3>
    <ul>
        {% for advertisement in job_advertisements %}
            <li><a href="{% url 'job_advertisement_detail' advertisement.id %}">{{ advertisement.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
