<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome, {{ first_name }} {{ last_name }}!</h1>
  <p>You are now logged in to our website.</p>
  <p>Here are some options you can explore:</p>
  <ul>
    <li><a href="{% url 'add_advertisement' %}">Додати оголошення</a></li>
    <li><a href="{% url 'advertisement_list' %}">Переглянути всі оголошення</a></li>
    <li><a href="{% url 'my_advertisements' %}">Переглянути моє оголошення</a></li>
  </ul>
</body>
</html>
